$color-one: #f9bf1e;
$color-two: #f9b798;
$color-three: #7c3e1d;
$color-four: #62a4ab;
$color-five: #d8bcb5;
$color-six: #392c21;

$filter-height: 50px;

$padding: 15px;
$font-family: 'Creepster', cursive;
