<app-characters-filter (onFilterChange)="loadFirstPage($event)"></app-characters-filter>

<ng-container *ngIf="(page$ | async) as page; else noResults">
  <ng-container *ngIf="page?.results?.length; else noResults">
    <app-infinite-scroll #infiniteScroll (scrolled)="loadNextPage(page.info.next)">
      <ng-container *ngFor="let item of page.results">
        <a class="item" [routerLink]="[item.id]">
          <img [src]="item.image" [alt]="item.name" width="200" height="200" />
          <div class="description">
            <h2>{{ item.name }}</h2>
            <div>Status: {{ item.status }}</div>
            <div>Species: {{ item.species }}</div>
            <div>Gender: {{ item.gender }}</div>
            <div>Created: {{ item.created | date: "shortDate" }}</div>
          </div>
        </a>
      </ng-container>
    </app-infinite-scroll>
  </ng-container>
</ng-container>
<ng-template #noResults>No results found.</ng-template>
